<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="csv" xsi:type="File" fileName="${basedir}/../../Logs/${shortdate}.csv"
      keepFileOpen="false">
      <layout xsi:type="CsvLayout">
        <column name="level" layout="${level}"/>
        <column name="time" layout="${longdate}"/>
        <column name="message" layout="${message}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="csv" />
  </rules>
</nlog>
